electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
    


        # Allow all build scripts
ignore-scripts=false

# Or allow specific packages
public-hoist-pattern[]=@prisma/*
public-hoist-pattern[]=prisma
public-hoist-pattern[]=better-sqlite3
public-hoist-pattern[]=sqlite3